SIndex/res/sindex/sindex.dtd

<!ELEMENT SINDEX (KEY+) >
<!ATTLIST SINDEX version CDATA #REQUIRED>
<!ATTLIST SINDEX size CDATA #REQUIRED>


<!ELEMENT KEY (ENTRY+) >
<!ATTLIST KEY name CDATA #REQUIRED>
<!ATTLIST KEY entries CDATA #REQUIRED>


<!ELEMENT ENTRY EMPTY>
<!ATTLIST ENTRY text CDATA #REQUIRED>
<!ATTLIST ENTRY type CDATA #REQUIRED>
<!ATTLIST ENTRY libNum CDATA #REQUIRED>

